.headerNav {
    display: flex;
    justify-content: space-between;
    padding: .8em 1em;
    width: 100%;
    z-index: 3;
    background-color: #fff;
    height: 4em;
    font-smoothing: subpixel-antialiased;
    transition: transform ease 100ms;
}
.headerNav__start {
    display: flex;
    justify-content: flex-start;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}
.headerNav__middle {
    display: flex;
    justify-content: center;
    margin-right: 14em;
}
.headerNav__link>a:link, .headerNav__link>a:visited {
    display: flex;
    align-items: center;
    color: #444;
    padding: .6em;
    margin: 0;
    border-radius: .3rem;
}
a{
    color: #000000;
}
.headerNav__end {
    display: flex;
    justify-content: flex-end;
}
a.nav-link-primary {
    padding: 3px;
    display: block;
    border: 1px #000fff solid;
    border-radius: 5em;
    background-color: #000fff;
    color: #fff;
}
img {
    width: 15%;
    height: 0%;
}
.hugger {
    width: 100%;
}
.hugger>.hugger__content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.productHeader {
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 1.3em;
    width: 25em;
    margin: 2em auto 4em;
}
.collectionStackIcon {
    position: relative;
    display: inline-block;
    height: 3em;
    margin-left: -4.5em;
    transform: rotate(-30deg) translateY(45px);
}
.productHeader .productHeader__logo {
    margin-bottom: 2em;
}
.collectionStackIcon__layer:nth-child(1) {
    left: 0;
    background-color: #01ded6;
    }
.collectionStackIcon__layer:nth-child(2) {
    left: .75em;
    background-color: #01a2d0;
    animation-delay: .2s;
}
.collectionStackIcon__layer:nth-child(3) {
    left: 1.5em;
    background-color: #0172dd;
    animation-delay: .4s;
}
.collectionStackIcon__layer:nth-child(4) {
    left: 2.25em;
    background-color: #0037e1;
}
.collectionStackIcon__layer {
    border-radius: .3em;
    height: 3em;
    width: 3em;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    transition: transform .1s ease-in-out;
    padding: .2em;
    animation: dropIn .5s reverse;
}
.collectionStackIcon__layer .collectionStackIcon__layer__icon__square {
    display: inline-block;
    background-color: #031a56;
    width: .7em;
    height: .7em;
}
.collectionStackIcon__layer .collectionStackIcon__layer__icon__circle {
    display: inline-block;
    background-color: #fff;
    width: .7em;
    height: .7em;
    border-radius: 1em;
}
 .collectionStackIcon__layer__icon {
    color: #fff;
    width: 1.3em;
    height: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collectionStackIcon__layer .collectionStackIcon__layer__icon__triangle::after {
    content: "";
    display: block;
    border-style: solid;
    height: 0;
    width: 0;
    border-color: transparent transparent #00ffe5;
    border-width: 0 .35em .6em;
}
.collectionStackIcon__layer .collectionStackIcon__layer__icon__heart {
    height: .2em;
    width: .7em;
    background-color: #00a1ff;
}
.collectionBox:not(.collectionBox--small) {
    float: left;
    display: block;
    margin-right: 5.4298946238%;
    width: 19%;
}
a {
    text-decoration: none;
    color: #0d51ff;
    transition: all .2s;
}
.collectionBox {
    display: block;
    height: 20em;
    border-radius: .3em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 0 2em rgba(1,97,125,.1), 0 0.1em 1em rgba(1,97,125,.1);
    position: relative;
    overflow: hidden;
    margin-bottom: 3.4267630349em;
    background-color: #fff;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0,1.4,1,1);
    transform: translate3d(0,0,0);
}
.collectionBox__details {
    padding: 2em;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    position: relative;
    height: 100%;
}
.collectionBox__title {
    display: inline;
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding-bottom: .1em;
    position: relative;
    color: #000;
    background-color: #fff;
    box-shadow: 0.5em -0.1em 0 0.25em #fff, -0.5em -0.1em 0 0.25em #fff;
    line-height: 2;
}
.collectionBox__description {
    display: inline;
    margin-top: .5em;
    font-size: 1.8em;
    background-color: #000;
    box-shadow: 0.3055555556em 0 0 0.1527777778em #000, -0.3055555556em 0 0 0.1527777778em #000;
    line-height: 1.6;
}
.collectionBox__description {
    display: inline;
    margin-top: .5em;
    font-size: 1.8em;
    color: #ffffff;
    box-shadow: 0.3055555556em 0 0 0.1527777778em #000, -0.3055555556em 0 0 0.1527777778em #000;
    line-height: 1.6;
}
.collectionBox__companies {
    display: flex;
    line-height: 1em;
    position: absolute;
    font-size: .8em;
    bottom: 2em;
}
.collectionBox__jobCount {
    display: block;
    border-radius: .2em;
    background-color: rgba(0,0,0,.5);
    line-height: 2em;
    padding-left: .5em;
    padding-right: .5em;
    margin-right: .5em;
}
.collectionBox__jobCount {
    display: block;
    border-radius: .2em;
    background-color: rgba(0,0,0,.5);
    line-height: 2em;
    padding-left: .5em;
    padding-right: .5em;
    margin-right: .5em;
    color: #ffffff;
}
@keyframes dropIn{ 
    75%    {left:200px; top:0px;}
     0% {left:200px; top:200px;}
}