
.mobileNav {
    display: none;
    background-color: #0d51ff;
    color: #fff;
    padding: 20px 20px 25px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px #eee solid;
}
a{
	color: #000000;
}
.content-wrapper {
    width: 100%;
}
.content-wrapper>.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.inlineHeader {
    width: 75%;
    font-size: 37px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.inlineHeader .inlineHeader__title {
    display: inline;
    color: #0d51ff;
    font-weight: 600;
    font-size: 1em;
    margin: .5em 0;
}
.inlineHeader .inlineHeader__subTitle {
    display: inline;
    font-weight: 300;
    font-size: 1em;
}
.locationCards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;
    line-height: 3.5;
}
.locationCard {
    background: #f3f6ff;
    border-radius: .2rem;
    overflow: hidden;
    color: #fff;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.locationCard__details__emoji {
    margin-right: .5em;
    line-height: 1.5;
    display: none;
}
.locationCard__details__name{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 0.05em 0.05em 2em transparent;
    text-align: center;
    padding: 1em;
}