.mobileNav {
    display: none;
    background-color: #0d51ff;
    color: #fff;
    padding: 20px 20px 25px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px #eee solid;
}
.headerNav {
    display: flex;
    justify-content: space-between;
    padding: .8em 1em;
    width: 100%;
    z-index: 3;
    background-color: #fff;
    height: 4em;
    font-smoothing: subpixel-antialiased;
    transition: transform ease 100ms;
}
.Nav{
    justify-content: flex-start;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}
ul.navjustify-content-center {
    display: flex;
    margin-right: 14em;
}
a.nav-link-primary {
    padding: 3px;
    display: block;
    border: 1px #000fff solid;
    border-radius: 5em;
    background-color: #000fff;
    color: #fff;
}
a.nav-link.active {
    color: #000;
}
a.nav-link {
    color: #000;
}
.navjustify-content-end{
    display: flex;
    justify-content: flex-end;
}

img {
    width: 15%;
    height: 0%;
}
.content-wrapper {
    width: 100%;
}
.content {
    margin: 2%;
}

.inlineHeader {
    font-size: 35px;
    margin: 3%;
    width: 75%;
}
.inlineHeader .inlineHeader__title {
    display: inline;
    color: #0d51ff;
    font-weight: 600;
    font-size: 1em;
    margin: .5em 0;
}
.inlineHeader__subTitle {
    display: inline;
    font-weight: 400;
    font-size: 1em;
}
.col-container {
    display: inline-flex;
}
.searchForm__box {
    border-radius: 4px;
    border: 1px #b9b9b9 solid;
    box-shadow: 0 2px 4px rgba(0,0,0,.06);
    display: flex;
}
    .searchForm {
    margin-bottom: 1em;
    font-size: 15px;
}
.algolia-autocomplete{
position: relative;
 display: inline-block; 
 direction: ltr;
}
.searchForm__box .searchForm__section {
    padding: 1em;
    border-bottom: 2px transparent solid;
}
.searchForm__box input[type=search] {
    border: none;
    outline: none;
    font-size: 1.5em;
    border-bottom: 1px transparent solid;
    width: 100%;
}
.searchForm__section--primary {
    width: 40%;
}
.searchForm__section--secondary {
    width: 30%;
}
.ais-ToggleRefinement-checkbox {
    display: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.searchForm__box #remote .searchForm__section__label__toggleOption {
    display: inline-block;
    color: #000;
}
.searchForm__section__label {
    margin-bottom: .3em;
}
.searchForm__section--tertiary {
    width: 30%;
    padding: 1.2em;
}
.searchForm__box .searchForm__section:not(:first-child) {
    border-left: 1px #b9b9b9 solid;
}
.searchForm__box .searchForm__section--tertiary .ais-RefinementList-list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

.poweredByAlgolia {
    text-indent: 11%;
    white-space: nowrap;
    display: inline-block;
     no-repeat :center right;
    background-size: contain;
    height: 1em;
    width: 8em;
}
.searchForm__poweredBy .poweredByAlgolia {
    font-size: 1.1em;
    float: right;
}
.searchForm__poweredBy {
    margin-top: .7em;
}
a {
    text-decoration: none;
    color: #0d51ff;
    transition: all .2s;
}
.jobCards__category {
    font-weight: 400;
    /* padding: 1.5em 0; */
    margin-top: 1em;
    font-size: 2em;
    font-weight: 400;
    width: 100%;
    background: radial-gradient(rgba(13,81,255,0.07),rgba(13,81,255,0) 50%);
}
.jobCards__category>.content {
    display: flex;
    justify-content: center;
}
.jobCards__category .jobCards__category__emoji {
    text-align: center;
}
.jobCards__category .jobCards__category__name {
    margin-left: 1em;
    margin-right: 1em;
    color: #002073;
}
.content-wrapper {
    width: 100%;
}
.content-wrapper>.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.jobCards__category {
    /* padding: 1.5em 0; */
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 400;
    width: 100%;
    background: radial-gradient(rgba(13,81,255,0.07),rgba(13,81,255,0) 50%);
}
.jobCard {
    padding: .8rem 0;
    border-bottom: 1px #eee solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 19px;
}
.jobCard__details {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}
.jobCard__tags .tag {
    font-size: .7em;
}
.tag:hover {
    background-color: #0d51ff;
    border-color: #0d51ff;
    color: #fff;
}
.jobCard__details__logo {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    display: block;
    height: 2em;
    flex: 0 0 2em;
    margin: .5em;
    box-sizing: border-box;
    border-radius: 3px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #f9f9f9;
}
.card {
    border: none;
}
.jobCard__details__title {
    color: #000;
    font-size: 1em;
    display: block;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.jobCard__details__title:hover {
    text-decoration: underline;
}
.tag {
    box-sizing: border-box;
    display: inline-block;
    background-color: #f2f5f5;
    color: #003739;
    padding: 4px 5px;
    border-radius: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    text-transform: first;
    border: 2px #f2f5f5 solid;
}
.jobCard__tags .tag {
    font-size: .7em;
}
.jobCard__details__location {
    color: #666;
    width: 15%;
    display: block;
    text-align: right;
    font-size: .8em;
}
.jobCard__details__location {
    color: #666;
    width: 15%;
    display: block;
    text-align: right;
    font-size: .8em;
}
 .jobsNewsletter {
    padding: 1em;
    display: flex;
    border: 1px #e7eeff solid;
    border-top-style: none;
    justify-content: space-between;
}
.jobsNewsletter__title {
    width: 40%;
    font-size: 18px;
    padding: .4em;
}
 .jobsNewsletter__form {
    width: 60%;
}
 .jobsNewsletter__form{
    padding: 0;
    margin: 0;
    text-align: right;
    display: flex;
}
.simple_form.new_alert {
    display: inline-flex;
    width: 100%;
}
.email {
    width: 100%;
    margin-right: .5em;

}
input[type="submit"] {
    background-color: #0000ff;
    border-radius: 2px;
    color: #ffff;
    border: none;
    margin-left: auto;
}
a{
    display: block;
    line-height: 1em;
    font-size: 1.2rem;
}
/* @media screen and (max-width: 992px) {
.headerNav{
    disp
}

} */
    @media screen and (max-width: 480px){
        .inlineHeader .inlineHeader__subTitle {
            display: block;
            width: 90%;
            margin: 0 auto;
            font-size: .7em;
        }
    }




@media screen and (max-width: 480px){
.inlineHeader .inlineHeader__subTitle {
    display: block;
    width: 90%;
    margin: 0 auto;
    font-size: .7em;
}
.jobCards__category {
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}
}
.nav-mobile {
  display:none; /* Hide from browsers that don't support media queries */
  cursor:pointer;
  position:absolute;
  top:0;
  right:0;
  background:#34495E url(../img/nav.svg) no-repeat center center;
  height:40px;
  width:40px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}
